
/*当编辑用户管理时,为此条框加伪类*/
#ul2{border:1px solid #32465d;}
/*增加商品信息时,标题信息加亮*/
.add_goods_info{color:#ff9933;}

/*右边框样式*/
.location span{float:left;display:block;height:20px;line-height:20px;}
.location span{color:white;font-size:14px;padding:15px 8px;}
.location span a{font-size:14px;}
.location{margin-top:0px}
.location span{color:white;font-size:14px;padding:15px 4px;}
.win_main{margin-top:15px;}
.ad_frm{width:1060px;margin:20px 0px;border:1px solid #e6e6e6;border-radius:6px;}
.ad_frm .location {background:#f7f7f7}
.ad_frm .location span{color:#4b4b4b;font-size:16px;}
/*商品分类*/
/*表格属性*/
table{border-collapse:collapse;margin:0px 4px;}
.td1{width:80px;}
.td2{height:55px;}
.td2 input{width:380px;height:25px;}
.td4{width:250px;font-size:14px;}
/*文本域*/
#editor{width:800px;}
.edit{width:70px;height:35px;cursor:pointer;}

	